*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Tangerine', cursive;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth; 
}

:root{
   background-color: #fffbff; 
   --text-color: #C7AB59;
   --main-color:: white;
   --big-font:5rem;
   --h2-font:3em;
   --p-font:1.1rem;
}
body{
    background-color: white;
    color: black
}
header{
    position: fixed;
    width:100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 18%;
    transition: 5s;
}
.logo{ 
   font-size: 50px;
   color: white;
   padding: 10px;
   margin-right: 40px;
   border-radius: 2px;
   transform: scale(1.2);
   border-style: hidden;
   background-image: url("logo2.jpg");
   outline-style: groove;
   outline-color: #C7AB59;
   outline-width: 5px;
}
.logo span{
    color: #705103;
}
.logo:hover{
    transform: scale(1.2);
}
.navlist{
   display: flex; 
}
.navlist li{
    font-size: 40px;
    color: #705103;
    font-weight: bolder; 
    padding-right: 4px;
}
.navlist li a{
   padding: 10px 10px;
}

 .navlist li:hover{
    color: #B9732F;
    transform: scale(1.2);
}

#menu-icon{
    font-size: 35px;
    color: #705103;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
#home{
    padding: 150px 18%;
}
.home{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: url(../3aaisha_Calligraphy/logo4.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 4rem;
}
.home-img img{
    width: 350px;
    border-radius: 20px;
    border-style: groove;
    border-color: #C7AB59;
    max-width: 100%;
    height: auto;
}
.home-text h1{
    margin: 10px 0px 25px;
    font-size: var(--big-font);
    line-height: 1;
    font-weight: bold;
    color: #705103;
}
.home-text h5{
    margin-bottom: 23px;
    font-size: 30px;
    font-weight: bolder;  
}
.home-text h5 span{
    color: #A56C6C;
    font-weight: bolder;
    font-size: 35px;
}
.home-text h3{
  font-size: 32px;  
  font-weight: bolder;
}
.home-text p{
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 20px;
}
.social a{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #B9732F;
    color: #705103;
    font-size: 20px;
    margin-right: 22px;
    margin-bottom: 30px;
}
.social a:hover{
   transform: scale(1.1); 
   background: #C38888;
   transition: .3s;
}
.home-text .btn{
   display: inline-block; 
   color: #915858;
   background-color: #C7AB59;
   font-size: 30px;
   padding: 10px 40px;
   font-weight: bolder;
   border-radius: 30px;
   transition: ease .40s;
}
.home-text .btn:hover{
    transform: scale(1.1);
}
.services .items .box{
    background-color: red;
   margin-top: 20px;
   display: flex;
   padding-left: 200px;
    
}
 .sub-img img{
    width: 400px;
 }
 header.sticky{
    background: #C38888;
    padding: 15px 18%;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
 }
