*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Tangerine', cursive;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth; 
}

:root{
   background-color: #fffbff; 
   --text-color: #C7AB59;
   --main-color:: white;
   --big-font:5rem;
   --h2-font:3em;
   --p-font:1.1rem;
}
body{
    background-color: #fffbff;
    color: black;
}
header{
    width: 100%;
    padding: 10px;
    margin-bottom: 100px;
}
.logo{ 
   margin-left: 220px;
   font-size: 50px;
   color: white;
   padding: 10px;
   margin-right: 40px;
   border-radius: 2px;
   transform: scale(1.2);
   border-style: hidden;
   background-image: url("../3aaisha_Calligraphy/images/logo2.jpg");
   outline-style: groove;
   outline-color: #C7AB59;
   outline-width: 5px;
   position: fixed;
   z-index: 1000;
}
.logo span{
    color: #705103;
}
.logo:hover{
    transform: scale(1.2);
}
.nav{
   position: fixed;
   display: flex; 
   padding-left: 800px;
   margin-top: 5px;
   margin-bottom: 40px;
   z-index: 1000;
   
}
.nav li{
    font-size: 40px;
    color: #705103;
    font-weight: bolder; 
    padding-right: 4px;
}
.nav li a{
   padding: 10px 10px;
   color: black;
   font-weight: bolder;
   background: #C38888;
   border-radius: 14px;
}

 .nav li a:hover{
    color: #C7AB59; 
     
}
.nav li:hover{
    transform: scale(1.2);
}


#menu-icon{
    font-size: 35px;
    color: #705103;
    z-index: 10001;
    cursor: pointer;
    padding-left: 700px;
    display: none;
}
#home{
    padding: 15px 18%;
}
.home{
    height: 100vh;
    width: 100%;
    background: url(../3aaisha_Calligraphy/images/logo4.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 4rem;
}
.home-img img{
    width: 350px;
    border-radius: 50%;
    border-style: groove;
    border-color: #C7AB59;
    max-width: 100%;
    height: auto;
}
.home-text h1{
    margin: 10px 0px 25px;
    font-size: var(--big-font);
    line-height: 1;
    font-weight: bold;
    color: #705103;
}
.home-text h5{
    margin-bottom: 23px;
    font-size: 30px;
    font-weight: bolder;  
}
.home-text h5 span{
    color: #A56C6C;
    font-weight: bolder;
    font-size: 35px;
}
.home-text h3{
  font-size: 32px;  
  font-weight: bolder;
}
.home-text p{
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 20px;
}
.social a{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #705103;
    color: #FDD9E5;
    font-size: 20px;
    margin-right: 22px;
    margin-bottom: 30px;
}
.social a:hover{
   transform: scale(1.1); 
   background: #C38888;
   transition: .3s;
}
.btn{
   display: inline-block; 
   color: #915858;
   background-color: #C7AB59;
   font-size: 30px;
   padding: 10px 40px;
   font-weight: bolder;
   border-radius: 30px;
   transition: ease .40s;
}
.home-text .btn:hover{
    transform: scale(1.1);
}
.about-text .btn:hover{
    transform: scale(1.1);
}
    
.items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-gap: 1rem;
    align-items: center;
    text-align: center;
}

 .sub-img img{
    width: 200px;
    max-width: 100%;
    height: auto;
    margin: 30px;
 }

 .box{
    padding: 45px 45px 45px 45px;
    transition: ease .50s;
    cursor: pointer;
    background: #fffbff;
    box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
    border-radius: 12px;
 }
 .services{
    background: #705103;
    padding: 60px;
    margin-bottom: 20px;
 }
 .services h2{
    padding: 20px;
    color: #FDD9E5;
    text-align: center;
    font-weight: bolder;
    font-size: 45px;
 }
.box h3{
    font-size: 32px;
    font-weight: bolder;
    margin-bottom: 10px;
}
.box p{
    font-size: 25px;
}
.box:hover{
    background: #FDD9E5;
    box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
    border-radius: 12px;
    will-change: transform;
    transform: perspective(1000px) rotateX(4.80deg) rotateY(10.23deg) scale3d(1.05,1.05,1.05);
}
.about{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 2rem;
    margin: 60px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.about-img img{
    width: 350px;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    border-style: groove;
    border-color: #C7AB59;
    max-width: 100%;
    background-color: #C7AB59;
}
.about-text{
    padding-right: 200px;
    padding: 20px;
}
.about-text h3{
    color: #705103;
    font-size: 30px;
    font-weight: bold;
    margin: 8px 0px 25px;
    letter-spacing: 0.5px;
}
.about-text h4{
    color: #705103;
    font-size: 30px;
    font-weight: bold;
    margin: 8px 0px 25px;
    letter-spacing: 1px;
}
.samples{
    align-content: center;
    background: #0D0D0D;
    display: flexbox;
    padding: 50px;
}
.col{
    position: relative; 
}
.col img{
    width: 500px; 
    max-width: 100%;
    object-fit: cover;
    height: auto;
    border-radius: 12px;
}
.heading{
    padding-top: 70px;
}
.heading h2{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #C7AB59;
}
.layer h3{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #C7AB59;
    margin: 7px 0px 20px;
}
.samplecontent{
    display: grid;
    grid-template-columns: repeat(autofit, minmax(350px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 5rem;
    text-align: center;
    cursor: pointer;
}
.contacts{
    background: url(../3aaisha_Calligraphy/images/logo4.jpg);
    width: 100%;
    margin: 100px auto;
    padding: 70px 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 12px;
    background-size: cover;
}
.comments{
    display: flexbox;
    align-items: center;
    justify-content: center; 
   
}
.contacts h2{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 3px;
    color: #915858;
}

.contacts h3{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 3px;
    color: #915858;
}

.comments h3{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 3px;
    color: #915858;
}
.contactitems a{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #705103;
    color: #FDD9E5;
    font-size: 25px;
    margin-top: 15px;
    margin-right: 22px;
    margin-bottom: 20px;
}
.contactitems a:hover{
    transform: scale(1.1); 
    background: #C38888;
    transition: .3s;
 }
.contacts .action form input[type="email"]{
    max-width: 100%;
    width: 470px;
    padding: 12px 15px;
    background:#FDD9E5;
    color: black;
    border: none;
    margin: 0 10px 20px 0;
    border-radius: 30px;
    font-size: 26px;
    font-weight: bold;
}
.contacts .action form input[type="submit"]{
    padding: 12px 25px;
    background:#B9732F;
    color: black;
    border: none;
    outline: none;
    margin: 0 10px 20px 0;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
}
textarea{
    margin-right: 10px;
    align-self: center;
    height: 80px;
    width: 100%;
    background:#FDD9E5;
    color: black;
    border: none;
    border-radius: 20px;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
}
input[type="submit"], button{
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    background:#B9732F;
    font-size: 25px;
    margin: 10px;
}
.end{
    text-align: center;
    padding: 40px;
}
.end p{
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: bold;
}

.review-list{
    font-size: 25px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

  @media screen and (max-width: 1024px) {
    .home
    {  grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        grid-gap: 4rem;}

        .nav{
            position: sticky;
            display: flex; 
            padding-left: 200px;
            margin-top: 50px;
            margin-bottom: 40px;
            
         }
  }

  @media screen and (max-width: 768px) {
    .items
    {display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 2rem;
        align-items: center;
        text-align: center;}

        .sub-img img{
            width: 200px;
            max-width: 100%;
            height: auto;
            margin: 4px;
         }
         .sub-img .btn{
            font-size: 25px;
            padding: 10px 30px;
         }
         .about{
          margin-bottom: 40px;
        }
        .about-img img{
            width: 350px;
            max-width: 100%;
            height: auto;
            border-radius: 50%;
            border-style: groove;
            border-color: #C7AB59;
            max-width: 100%;
            background-color: #C7AB59;
        }
        .about-text{
            padding-right: 10px;}

        .logo{
            margin-left: 200px;
        }
        .nav{
            padding-left: 100px;
            margin-top: 50px;
            margin-bottom: 40px;
            
         }
  }
  @media screen and (max-width: 640px) {
    .about{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        grid-gap: 2rem;
        margin: 20px;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .logo{
        margin-left: 190px;
    }
    .nav{
        padding-left: 70px;
        margin-top: 50px;
        margin-bottom: 40px;
        
     }
  }
  @media screen and (max-width: 480px) {
    #home{
        padding: 80px 18%;
    }
    .home{
        min-height: 100vh;
        width: 100%;
        background: url(../3aaisha_Calligraphy/logo4.jpg);
        background-size: cover;
        background-position: center;
        position: relative;
        display: grid;
        align-items: center;
        grid-gap: 4rem;
    }
    
    .home-text h1{
        font-size: 65px;}
    
    .col img{
         width: 450px; 
        }
        .contacts{
            width: 100%;
        }
       
        .contacts .action form input[type="email"]{
            width: 430px;
        }
        .contacts .action form input[type="submit"]{
            padding: 12px 25px;
            background:#B9732F;
            color: black;
            border: none;
            outline: none;
            margin: 0 10px 20px 0;
            border-radius: 30px;
            cursor: pointer;
            font-size: 18px;
        }
        .logo{
            margin-left: 120px;
        }
        .nav{
            padding-left: 0px;
            margin-top: 50px;
            margin-bottom: 40px;  
         }
         
        .nav li a{
           padding: 1px 2px;
           color: #705103;
           font-weight: bolder;
        }
        .logo{
            margin-left: 90px;
        }
        .contacts h2{
            margin: 1px;
            font-size: 40px;
            font-weight: bold;
            margin-bottom: 3px;
            color: #915858;
        }
        
        .contacts h3{
            font-size: 40px;
            font-weight: bold;
            margin-bottom: 3px;
            color: #915858;
        }
        
        .comments h3{
            width: 100%;
            font-size: 35px;
            font-weight: bold;
            margin: 3px;
            color: #915858;
        }
        .contactitems a{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background: #705103;
            color: #FDD9E5;
            font-size: 25px;
            margin-top: 15px;
            margin-right: 22px;
            margin-bottom: 20px;
        }
        .contacts{
            width: 100%;
            padding: 20px;
        }
        textarea{
            justify-content: center;
            align-self: center;
            height: 70px;
            width: 100%;
            color: black;
            border: none;
            border-radius: 20px;
            font-size: 30px;
            font-weight: bold;
            padding: 20px;
        }
        input[type="submit"], button{
            padding: 10px 15px;
            font-size: 20px;
            margin-right: 10px;
            display: inline-flex;
        }
    }