*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Tangerine', cursive;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth; 
}

:root{
   background-color: white; 
   --text-color: rgba(255, 217, 0, 0.852);
   --main-color:: white;
   --big-font:5rem;
   --h2-font:3em;
   --p-font:1.1rem;
}